# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
  build-and-commit:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Build packages
        working-directory: ./packages
        run: |
          ls -la
          npm install
          npm run build:all
      - name: Commit build results
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin main
          git checkout main
          git add ./common/dist ./db/dist ./db-bunsqlite/dist ./db-mariadb/dist ./db-mssql/dist ./db-postgresql/dist ./hashid/dist ./types
          git add ../docs
          git commit -m "chore: commit docs and dist [skip ci]" || echo "No changes to commit"
          git push origin main
